<div id="contact" class="section scrollspy">
  <div class="container">
    <h5>Conact</h5>
    <h6>Get in touch with me</h6>
    <div class="row">
      <div class="col s6  offset-s3 ">
        <div class="row">

          <form class="col s12" method="POST" action="#">
            <div class="row">
              <div class="input-field col s6 flow-text">
                <input name="first_name" id="first_name" type="text" class="validate" placeholder="First Name" required>
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input name="last_name" id="last_name" type="text" class="validate" placeholder="Last Name" required>
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input name="email" id="email" type="email" class="validate" placeholder="Email"  required>
                <label for="email">E-Mail</label>
              </div>
            </div>
            <textarea name="msg" class="materialize-textarea" placeholder="Your Message" required></textarea>
            <div class="container right">
              <button class="btn waves-effect waves-light blue-grey darken-4 white-text" type="submit" name="action">Submit<i class="mdi-content-send right"></i></button>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>
