<div id="features" class="section scrollspy ">
</br>
<div class="container-fluid  indigo accent-1  ">
  <div class="container">
    <div class="row">
      <div class="col s12">
                        <h2 class="center header text_h2">
                            <span class="span_h2">Features </span>
                        </h2>
      </div>
    </div>

  </div>
  <div class="container white ">


  <ul class="collapsible" data-collapsible="accordion">
        <li class="flow-text">
          <div class="collapsible-header"><i class="material-icons">library_books</i>Adapt to any kind of project (new or existent)</div>
          <div class="collapsible-body">
            <p>Camaleon CMS is a dynamic and flexible CMS that no require programming to adapt into any kind of content structure.
            </p></div>
        </li>

            <li class="flow-text">
              <div class="collapsible-header"><i class="material-icons">dashboard</i>Easy Content Manipulation</div>
              <div class="collapsible-body">
                <p>Camaleon CMS adapts to your needs so you do not have to change your process. Also Camaleon CMS includes the same admin interface structure than Wordpress.
                </p></div>
            </li>


    <li class="flow-text">
      <div class="collapsible-header"><i class="material-icons">important_devices</i>SEO & HTML5</div>
      <div class="collapsible-body">
        <p>Sitemap/Rss Support
    Seo Configuration
    Seo for social media
    Customize your content for Desktop, Mobile and Tablet
    All generated content is HTML5</p></div>
    </li>
    <li class="flow-text">
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Cloud Files</div>
      <div class="collapsible-body">
        <p>Save your files in local or amazon s3 cloud files.
        </p>
      </div>
    </li>
    <li class="flow-text">
      <div class="collapsible-header"><i class="material-icons medium">flash_on</i>Speed</div>
      <div class="collapsible-body">
        <p>Camaleon CMS includes accelerators to have the best performance:
    - Cache contents
    - Cache queries
    - Manifests (compress and join asset files)
        </p></div>
    </li>
    <li class="flow-text">
      <div class="collapsible-header"><i class="material-icons">security</i>Security</div>
      <div class="collapsible-body">
        <p>Camaleon CMS protects your content from common attacks, such us:
          - Remote code execution
          - SQL injections
          - Advanced sessions security
          - Cross Site Scripting
          - Control of abusive requests
          - Cross-Site Request Forgery
        </p>
      </div>
    </li>
  </ul>

</div>
  </br>

</div>

</div>
