<div id="modules" class="section scrollspy">
    <div class="container">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">
                <h2 class="center header text_h2">
                    <span class="span_h2">CMS </span> - <span class="span_h2">Modules</span>
                </h2>
                <h5 class="center">
                  Camaleon CMS is an advanced and dynamic Content Management System Based on Ruby on Rails 4 and using the structure of Wordpress. This CMS can be adapted to any kind of project without programming and giving to users more time for the content instead of programing
                </h5></br>
            </div>
            <div class="container">
              <p>

              </p>
              </br>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="large material-icons ">layers</i>
                    <h5 class="promo-caption">Multi site</h5>
                    <p class="light center">Create unlimited of sites in the same installation with a simple form.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="large material-icons">extension</i>
                    <h5 class="promo-caption">Plugins</h5>
                    <p class="light center">Add or extend the default functionalities of the CMS by plugins without affecting the core.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="large material-icons">layers</i>
                    <h5 class="promo-caption">Themes</h5>
                    <p class="light center">Customize the content presentation by themes without affecting any functionality of the CMS.</p>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="large material-icons">translate</i>
                    <h5 class="promo-caption">Multi Language</h5>
                    <p class="light center">Present your information in all languages necessary to inform for all audiences you want.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="large material-icons">photo</i>
                    <h5 class="promo-caption">Widgets</h5>
                    <p class="light center">Use common code or external widgets or scripts to embed in any content by Widgets shortcode.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="large material-icons">filter_none</i>
                    <h5 class="promo-caption">Content Groups</h5>
                    <p class="light center">Create your custom content groups for each kind of content without programming.</p>
                </div>
            </div>
        </div>
    </div>
