<div id="top" class="scrollspy">

<div class="navbar-fixed">
    <nav id="nav_f" class="amber darken-4" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a id="logo-container" href="#top" class="brand-logo">CAMALEON</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#modules">Modules</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#store">Store</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <ul id="nav-mobile" class="right side-nav">
                    <li><a href="#modules">Modules</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#store">Store</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="index-banner" class="parallax-container valign-wrapper amber darken-4">
<div class="section no-pad-bot">
    <div class="container">
        <div class="row center">
        <h1 class="header col s12 text_h cd-headline letters type ">
            <span class="cd-words-wrapper waiting">
              <span > Rails 💎 Powered</span>
                <b class="is-visible">CAMALEON CMS</b>


                <b>Python</b>
                <b>Polymer</b>
            </span>
        </h1>
        </div>
    </div>
</div>
<div id="particles" class="parallax"></div>
</div>
