// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html
{
	background-color: #EDEDED !important;
}
.brand-logo {
  margin-left: 40px;
}


.section .tabs{
    padding-top: 4rem;
  margin-bottom: 45px;

  //padding-bottom: 45px;
}

.about .col
{
	margin-bottom: 24px;
}

.about h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.about h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.about hr
{
	width: 40px;
	margin-bottom: 45px;
}

.about .card
{
	text-align: center;
}

.about .card img
{
	margin-bottom: 15px;
}

.gallery .col
{
	margin-bottom: 24px;
}

.gallery h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.gallery h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.gallery hr
{
	width: 40px;
	margin-bottom: 45px;
}

.gallery .gallery-holder
{
	clear: both;
	text-align: center;
}

.gallery img
{
	width: 33%;
	display: inline-block;
	float: left;
}

.contact .col
{
	margin-bottom: 24px;
}

.contact h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.contact h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.contact hr
{
	width: 40px;
	margin-bottom: 45px;
}

.contact .contact-holder
{
	padding-left: 40px;
	text-align: left;
}

.contact .contact-holder h6
{
	margin-bottom: 15px;
	text-align: left;
}

.contact .contact-holder p
{
	margin-bottom: 30px;
}




footer
{
	padding-top: 0px;
}
