<footer class="page-footer  blue-grey lighten-2   scrollspy">
                <div class="row">
                  <div class="col s1 offset-s4">
                    <i class="medium material-icons">share</i>
                  </div>
                  <div class="col s1 ">
                    <i class="medium material-icons">face</i>
                  </div>
                                    <div class="col s1 ">
                                      <i class="medium material-icons">near_me</i>
                                    </div>
                <div class="col s1 ">
                  <i class="medium material-icons">map</i>
                </div>
                </div>
  <div class="footer-copyright blue-grey darken-4">
    <div class="container flow-text center ">
      Copyright © 2016 Camaleon. All rights reserved.
    </div>
  </div>
</footer>
